@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Paragraph */

canvas {
  width: 100% !important;
}

h3,
.h3 {
  @apply text-lg font-medium leading-6;
}

h4,
.h4 {
  @apply text-base font-semibold;
}

.svg {
  color: black;
}

/* 
input {
  color: black;
} */

.transition-1 {
  transition: all 1s ease;
}

.transition-c-0\.5 {
  transition: all 0.5s ease;
}

.circle {
  height: 2.875rem /* 46px */;
  width: 2.875rem /* 46px */;
}

.translate-x-0 {
  --tw-translate-x: 0px;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y))
    rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y))
    scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

@media only screen and (max-width: 596px) {
  .search {
    display: none;
  }
}

@media only screen and (max-width: 627px) {
  .search-input {
    width: 10rem;
    transition: all 1s ease;
  }
}

.bg-gray-850 {
  --tw-bg-opacity: 1;
  background-color: rgb(31 41 55 / var(--tw-bg-opacity));
}

.FF {
  -webkit-transition: background-color 1s ease-out;
  -moz-transition: background-color 1s ease-out;
  -o-transition: background-color 1s ease-out;
  transition: background-color 1s ease-out;
}

@media screen and (max-width: 1524px) and (min-width: 1280px) {
  .card-text {
    max-width: 8rem;
  }
}

.th.text-left:nth-child(2) {
  width: 14rem;
}

th.text-left:nth-child(3) > div:nth-child(1) {
  width: 8rem;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

@media screen and (max-width: 1397px) and (min-width: 1279px) {
  div.sm\:grid-cols-3 > div:nth-child(2) > h4:nth-child(1) {
    width: 6rem;
    margin-left: 1rem;
  }
}

@media screen and (max-width: 1023px) and (min-width: 768px) {
  .cheatcode {
    margin-top: 29rem;
  }
}

#\:r113\: {
  pointer-events: none;
}

div.MuiDataGrid-columnHeader:nth-child(1) {
  padding-left: 1rem;
}

button.absolute {
  display: none;
}

.h-\[100dvh\] {
  /* height: 100vh; */
  pointer-events: none;
  margin-top: 10rem;
}

.nextui-collapse-title-container:hover {
  background-color: #ff8a2b;
  opacity: 0.75;
  border-radius: 0.25rem;
}

.nextui-c-hPzDAx {
  height: 4.4rem;
  margin-top: -1rem;
}

.nextui-collapse-title-container {
  padding-top: 0rem;
  padding-bottom: 0.2rem;
  margin-top: -5px;
}

.MuiPaper-root {
  background: none !important;
}

.nextui-c-hPzDAx-eLdNZT-borderWeight-light {
  border: none !important;
}

#panel1a-content {
  margin-bottom: -30px;
  margin-top: -1px;
}

.bar-chart > div:nth-child(1) > div:nth-child(1) > svg:nth-child(1) {
  height: 27rem;
  width: 100%;
}

.bar-chart > div:nth-child(1) > div:nth-child(1) {
  width: 105%;
}

@supports (-webkit-touch-callout: none) {
  .h-screen {
    height: -webkit-fill-available;
  }
}
