@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Paragraph */
.button-text {
  @apply text-base font-medium;
}

.p2 {
  @apply text-sm font-medium leading-6;
}

.p3 {
  @apply text-sm font-light leading-6;
}

.p4 {
  @apply text-sm font-light;
}

.p5 {
  @apply text-xs font-normal;
}

/* Heading */

h1,
.h1 {
  @apply text-[28px] font-bold leading-10;
}

h2,
.h2 {
  @apply text-xl font-medium leading-[30px];
}

h3,
.h3 {
  @apply text-lg font-medium leading-6;
}

h4,
.h4 {
  @apply text-base font-semibold;
}

h5,
.h5 {
  @apply text-sm font-normal leading-4;
}

.svg {
  color: black;
}

.number-title {
  width: 149.67px;
  height: 36.14px;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.02em;

  color: #0f123f;

  transform: rotate(-0.2deg);

  /* Inside auto layout */
  flex: none;
  order: 1;
  flex-grow: 0;
}

.number-title {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.02em;

  color: #0f123f;

  transform: rotate(-0.2deg);
}

.title-box {
  color: #7099d1 !important;
  font-size: 16px;
  transform: rotate(-0.2deg);
}

.left-table {
  display: block;
  text-align: left;
  font-size: 16px;
}

.right-table {
  display: block;
  text-align: right;
  font-size: 16px;
}

.action-box {
  box-sizing: border-box;
  width: 47px;
  height: 45px;
  align-content: center;
  border: 1px solid rgba(136, 136, 136, 0.28);
}

.transition-1 {
  transition: all 1s ease;
}

.transition-c-0\.5 {
  transition: all 0.5s ease;
}

.circle {
  height: 2.875rem
    /* 46px */
  ;
  width: 2.875rem
    /* 46px */
  ;
}

.translate-x-0 {
  --tw-translate-x: 0px;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

@media only screen and (max-width: 596px) {
  .search {
    display: none;
  }
}

@media only screen and (max-width: 627px) {
  .search-input {
    width: 10rem;
    transition: all 1s ease;
  }
}

.bg-gray-850 {
  --tw-bg-opacity: 1;
  background-color: rgb(31 41 55 / var(--tw-bg-opacity));
}

.FF {
  -webkit-transition: background-color 1s ease-out;
  -moz-transition: background-color 1s ease-out;
  -o-transition: background-color 1s ease-out;
  transition: background-color 1s ease-out;
}

@media screen and (max-width: 1524px) and (min-width: 1280px) {
  .card-text {
    max-width: 8rem;
  }
}

.th.text-left:nth-child(2) {
  width: 14rem;

}

th.text-left:nth-child(3)>div:nth-child(1) {
  width: 8rem;

}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}


/* .fade-enter {
  opacity: 0;
}

.fade-enter-active {
  opacity: 1;
  transition: opacity 300ms;
}

.fade-exit {
  opacity: 1;
}

.fade-exit-active {
  opacity: 0;
  transition: opacity 300ms;
} */